
<div class="background-first">

   <div class="top_card d-flex justify-content-center align-items-end">
    <p>TRAINING</p>
   </div>

  <%= link_to "< Back to trainings", trainings_path, class:"btn-back" %>

  <%= turbo_frame_tag :question_answers do %>
    <div class="question">
      <h1>FINISHED!</h1>
      <p>
        <%= "You've mastered #{@training.subcategory.name}, you're on the right track!" %> <br>
      ________________________<br>
      </p>
      <% if @training.pleasur == false %>
        <p>
        YOU WIN<br>
        + 100 experience (xp)+ 100 golds (g) <br>
        </p>
        <p>
          <% if @gold_exp_winned > 0 %>
            BONUS first attempt (<%= "#{@first_attempt} / #{@total_questions}" %>) <br>
            <%= "+#{@gold_exp_winned}xp +#{@gold_exp_winned}g" %> <br>
            <%= @subcategory %>
          <% end %>
        </p>
      <% end %>
    </div>
    <%= link_to trainings_path, data: {turbo: false}, class: "font-white-center" do %>
      <div class="btn-orange">
        <p>NEXT</p>
      </div>
    <% end %>
  <% end %>
</div>
