<div class="background-first">

   <div class="top_card d-flex justify-content-center align-items-end">
    <p>TRAINING</p>
  </div>

  <%= link_to "< Back to trainings", trainings_path, class:"btn-back" %>

  <%= turbo_frame_tag :question_answers do %>
    <div class="question">
      <h1>Reso</h1>
      <p><%= @question.explication %></p>
      <p><%= @question.solution.content %></p>
      <p>Try : <%= @try %></p>
      <p>Tu as <%= @correct ? 'bon' : 'faux' %></p>
    </div>
    <div class="btn-orange"><%= link_to "NEXT", training_play_path(@training_answer.training.id), class: "text-color" %></div>
  <% end %>
</div>
