<div class="background-first <%# d-flex justify-content-center align-items-center %>">

   <div class="top_card d-flex justify-content-center align-items-end">
    <p>TRAINING</p>
  </div>

  <%= link_to "< Back to trainings", trainings_path, class:"btn-back" %>



  <%= turbo_frame_tag :question_answers do %>
    <%if @correct %>
      <div class="image-validation"><%= image_tag "true", class:"img"%></div>
    <%else%>
      <div class="image-validation"><%= image_tag "false", class:"img"%></div>
    <%end%>

    <%if @correct %>
      <div class="question" id="border-green">
        <h2>> ANSWER</h2>
        <p><%= @question.explication %></p>
        <p>Try : <%= @try %></p>
       <%#  <p>Tu as <%= @correct ? 'bon' : 'faux' %><%# </p>  %>
      </div>
    <%else%>
      <div class="question" id="border-red">
        <h2>> ANSWER</h2>
        <p><%= @question.explication %></p>
        <p>Try : <%= @try %></p>
       <%#  <p>Tu as <%= @correct ? 'bon' : 'faux' %><%# </p>  %>
      </div>
    <%end%>

      <div id="correct-answer">
        <p><%= @question.solution.content %></p>


      </div>

    <div class="btn-orange"><%= link_to "NEXT", training_play_path(@training_answer.training.id), class: "text-color" %></div>
  <% end %>
</div>
