<div class="background-first <%# d-flex justify-content-center align-items-center %>">

   <div class="top_card d-flex justify-content-center align-items-end">
    <p>TRAINING</p>
  </div>

  <%= link_to "< Back to trainings", trainings_path, class:"btn-back" %>



  <%= turbo_frame_tag :question_answers do %>
    <%if @correct %>
      <div class="image-validation"><%= image_tag "true.png", class:"img"%></div>
    <%else%>
      <div class="image-invalidation"><%= image_tag "false.png", class:"img"%></div>
    <%end%>

    <%if @correct %>
      <div class="question question-answer" id="border-green" data-controller="typed" data-typed-type-speed-value="5" data-typed-strings-value='<%= ["<h2> > CORRECT ANSWER </h2> <p>> #{@question.explication}</p>"]%>'>
       <%#  <p>Tu as <%= @correct ? 'bon' : 'faux' %><%# </p>  %>
      </div>
    <%else%>
      <div class="question question-answer" id="border-red" data-controller="typed" data-typed-type-speed-value="5" data-typed-strings-value='<%= ["<h2> > INCORRECT ANSWER</h2> <p>-------------------------------------</p> <p>> RIGHT ANSWER : #{@question.solution.content}</p> <p>-------------------------------------</p> <p>> DETAILS : #{@question.explication}</p>"]%>'>
      </div>
    <%end%>


    <%= link_to training_play_path(@training_answer.training.id), class: "font-white-center" do %>
      <div class="btn-orange">
        <p>NEXT</p>
      </div>
    <% end %>
  <% end %>
</div>
