<div class="background-first " >

  <div class="top_card d-flex justify-content-center align-items-end">
    <p>TRAINING</p>
  </div>

   <%= link_to "< Back to trainings", trainings_path, class:"btn-back" %>

  <!-- CARROUSSEL AVEC LE COURS -->
  <div class="swiper question ms-0" data-controller="carousel">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
    <!-- Slides -->
      <% @training.subcategory.lessons.each_with_index do |lesson, index| %>
        <div class="swiper-slide swiper-content">
          <p><strong>> LESSON <%= "#{(index + 1)}/#{@training.subcategory.lessons.size}" %></strong></p>
          <p>> <%= lesson.content %></p>

        </div>
      <% end %>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <%# <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div> %>
  </div>



  <% if @training.finished %>
    <%= link_to training_replay_path(@training), data: { turbo: false }, class: "font-white-center" do %>
      <div class="btn-orange">
        <p>Try again</p>
      </div>
    <% end %>
  <% else %>
    <%= link_to training_play_path(@training), data: { turbo: false }, class: "font-white-center" do %>
      <div class="btn-orange">
        <p>Get it</p>
      </div>
    <% end %>
  <% end %>
</div>
