<h1>Show d'un training</h1>

<%= link_to "Back to home", trainings_path %>

<p>Lesson</p>
<p><%= @training.subcategory.content %></p>

<% if @training.finished %>
  <%= link_to "Retry for pleasur", training_replay_path(@training), data: { turbo: false } %>
<% else %>
  <%= link_to "Get it", training_play_path(@training), data: { turbo: false } %>
<% end %>

<%# <%= link_to "Get it", subcategory_question_path(subcategory_id: @subcategory.id, id: @question.id) %>
