<%= turbo_frame_tag :question_answers do %>
  <div class="question">
    <h2> > QUESTIONS <%= @question.id %></h2>
    <p> > <%= @question.content %></p>
  </div>

  <div class="answers-container">
      <% @possibilities.each do |possibility| %>
        <div class="answer">
          <%= link_to possibility.content, training_resolve_path(
            training_answer_id: @training_answer.id,
            possibility_id: possibility.id
            ), data: { turbo: false },
            class: "text-blue" %>
        </div>
      <% end %>
  </div>
<% end %>

<%#   <% if @next_question %>
<%#     <%= link_to 'Next Question', subcategory_question_path(subcategory_id: @subcategory.id, id: @next_question.id) %>
  <%#  <% else %>
<%#     <p>No more questions available in this subcategory</p>
 %>  <%# <% end %>
