<%= turbo_frame_tag :question_answers do %>

    <div class="question question-fix screen" data-controller="typed" data-typed-strings-value='<%= ["<h2> > QUESTION </h2> <p>> #{@question.content}</p>"]%>'>
    </div>
    <p id="avancement">Flashcards : <%= @training.questions.count - @training_answers.count %>/<%= @training.questions.count %></p>


  <div class="answers-container" >
      <% @possibilities.each do |possibility| %>
          <%= link_to training_resolve_path(
            training_answer_id: @training_answer.id,
            possibility_id: possibility.id
            ),
            data: { turbo: false },
            class: "text-blue" do %>
            <div class="answer">
              <p  class="text-blue"><%= possibility.content %></p>
            </div>
          <% end %>
      <% end %>
  </div>


<% end %>

<%#   <% if @next_question %>
<%#     <%= link_to 'Next Question', subcategory_question_path(subcategory_id: @subcategory.id, id: @next_question.id) %>
  <%#  <% else %>
<%#     <p>No more questions available in this subcategory</p>
 %>  <%# <% end %>
