<%= turbo_frame_tag "popup_opponent" do %>
  <div class="background-first background-fixed">

    <div class="top_card d-flex justify-content-center align-items-end">
      <p>DUELS</p>
    </div>

    <div class="scontainer">
      <div class="duel-nav-bar-bcontainer">
        <div class="duel-nav-bar-container">
          <%= link_to "#", class: "text-white" do %>
                <div class="duel-nav-bar">
                  <p>Your turn</p>
                </div>
          <% end %>
          <%= link_to "#", class: "text-white" do %>
                <div class="duel-nav-bar">
                  <p>Pending</p>
                </div>
          <% end %>
          <%= link_to "#", class: "text-white" do %>
                <div class="duel-nav-bar">
                  <p>Finished</p>
                </div>
          <% end %>
        </div>
      </div>



    <div class="duel-container">
      <div class="duel">
        <% @duels.each_with_index do |duel, index| %>
          <%= link_to duel_path(duel), class: "mission-todo" do %>
            <div class="mission-frame">
              <% if duel.user == current_user %>
                <h2>> Duel vs <%= duel.opponent.first_name%> </h2>
              <% else %>
                <h2>> Duel vs <%= duel.user.first_name%> </h2>
              <% end %>
              <% if duel.user == current_user %>
                <% if @count == 3 %>
                  <p>> Waiting for the opponent - 1/3</p>
                <% elsif @count == 6  %>
                  <p>> Waiting for the opponent - 2/3</p>
                <% elsif @count == 9 %>
                  <p>> Waiting for the opponent - 3/3</p>
                <% end %>
              <% else duel.opponent == current_user%>
                <% if @count == 0 %>
                  <p>> My turn - 1/3</p>
                <% elsif @count == 3  %>
                  <p>> My turn - 2/3</p>
                <% elsif @count == 6 %>
                  <p>> My turn - 3/3</p>
                <% elsif @count == 9 %>
                  <p>> FINISHED</p>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

      <%= link_to opponent_choice_duels_path, data: {turbo_frame: :popup_opponent}, class: "font-white-center" do %>
          <div class="btn-orange">
            <p>NEW DUEL</p>
          </div>
      <% end %>
    </div>
  </div>
<% end %>
