<%= turbo_frame_tag "popup_opponent" do %>
  <div class="background-first background-fixed">

    <div class="top_card d-flex justify-content-center align-items-end">
      <p>DUELS</p>
    </div>

    <div class="scontainer">
      <div class="duel-nav-bar-bcontainer">
        <div class="duel-nav-bar-container">
          <%= link_to request.params.merge(status: "your_turn"), data: { turbo: true }, class: " duel-nav-bar #{'active' if params[:status] == 'your_turn' || !params[:status].present?}" do %>
            Your turn
          <% end %>
          <%= link_to request.params.merge(status: "pending"), data: { turbo: true }, class: "duel-nav-bar #{'active' if params[:status] == 'pending'}" do %>
            Pending
          <% end %>
          <%= link_to request.params.merge(status: "finished"), data: { turbo: true }, class: "duel-nav-bar #{'active' if params[:status] == 'finished'}" do %>
            Finished
          <% end %>
        </div>
      </div>



    <div class="duel-container">
      <div class="duel">
        <% @duels.reverse.each do |duel| %>
          <%= link_to duel_path(duel), class: "mission-todo" do %>
            <div class="mission-frame">


              <% if duel.user == current_user %>
                <h2>> Duel vs <%= duel.opponent.first_name%> </h2>
                <% if duel.finished? %>
                  <p>FINISHED - <%= duel.user_winner %></p>
                <% else %>
                  <p><%= duel.user_turn %> - <%= duel.progess %></p>
                <% end %>
              <% else %>
                <h2>> Duel vs <%= duel.user.first_name%> </h2>
                <% if duel.finished? %>
                  <p>FINISHED - <%= duel.opponent_winner %></p>
                <% else %>
                  <p><%= duel.opponent_turn %> - <%= duel.progess %></p>
                <% end %>
              <% end %>


            </div>
          <% end %>
        <% end %>
      </div>
    </div>

      <%= link_to opponent_choice_duels_path, data: {turbo_frame: :popup_opponent}, class: "font-white-center" do %>
          <div class="btn-orange">
            <p>NEW DUEL</p>
          </div>
      <% end %>
    </div>
  </div>
<% end %>
