<%= turbo_frame_tag "popup_opponent" do %>
  <div class="background-first background-fixed">

    <div class="top_card d-flex justify-content-center align-items-end">
      <p>DUELS</p>
    </div>

    <div class="scontainer">
      <div class="duel-nav-bar-bcontainer">
        <div class="duel-nav-bar-container">
          <%= link_to "#", class: "text-white" do %>
                <div class="duel-nav-bar">
                  <p>Your turn</p>
                </div>
          <% end %>
          <%= link_to "#", class: "text-white" do %>
                <div class="duel-nav-bar">
                  <p>Pending</p>
                </div>
          <% end %>
          <%= link_to "#", class: "text-white" do %>
                <div class="duel-nav-bar">
                  <p>Finished</p>
                </div>
          <% end %>
        </div>
      </div>


      <div class="mission-container">
        <div class="missions">
          <% @duels.each_with_index do |duel, index| %>
            <%= link_to "#", class: "mission-todo" do %>
              <div class="mission-frame">
                <h2>> Duel <%= duel.user.first_name%></h2>
                <p>> Waiting for the opponent <%= duel.rounds %>/3</p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <%= link_to opponent_choice_duels_path, data: {turbo_frame: :popup_opponent}, class: "font-white-center" do %>
          <div class="btn-orange">
            <p>NEW DUEL</p>
          </div>
      <% end %>
    </div>
  </div>
<% end %>
