<%= turbo_frame_tag "popup_opponent" do %>
  <div class="blur">
    <div class="modal-pop-up">
      <div >
        <%= link_to "X", "#", data: {
          controller: "modals"
    # action: "modals#close"
        }, class: "cancel-button" %>
        <h3> > Select a player :</h3>


        <%= form_with url: duels_path do |f| %>
          <select name="user_id" class="form-select background-white mb-3" aria-label="Default select example" required>
            <option selected>...</option>
            <%@users.each do |user|%>
              <option value="<%=user[1]%>"><%=user[0]%></option>
            <%end%>
          </select>

          <% if @inventories.any? %>
            <h3> > Use an item ?</h3>
            <select name="inventory_id" class="form-select background-white mb-3" aria-label="Select ingame item">
              <option selected disabled>...</option>
              <% @inventories.each do |inventory| %>
                <option value="<%= inventory.id %>"><%= inventory.item.name %></option>
              <% end %>
            </select>
          <% end %>

          <h3> > Validate ?</h3>
          <%= f.submit "Yes, sure!", class:"background-white" %>
        <% end %>
        </div>
      </div>
  </div>
<% end %>
