
  <div class="popup top">
    <% if @items.present? %>

      <div class="swiper" data-controller="carousel">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
        <!-- Slides -->
          <% @items.each do |item| %>
            <div class="swiper-slide ">
              <div class="d-flex justify-content-center">
                <%= cl_image_tag item.photo.key, width: "142px", height: "142px", class:"img-center" %>
              </div>
              <br>
              ---------------------------------------------
              <h3>> Object : <%= item.name %></h3>
              <p><%= item.description %></p>

              <%# btn, path = l'action choice dans le controller shop, data = quelle turbo frame va afficher la popup %>

              <%# <div class="btn-blue">
              <%= link_to "USE IT", player_choice_shops_path(item_id: item.id), data:  { turbo_frame: :popup_shop } %>
              <%# </div> %>

              <%# <%= link_to player_choice_shops_path(item_id: item.id), data: {turbo_frame: :popup_shop }, action: :choice do %>
                <%# <div class="btn-blue"><h2>USE IT</h2></div>
              <%end%>


                <%= link_to "USE IT", player_choice_shops_path(item_id: item.id), data:  { turbo_frame: :popup_shop }, class:"text-properties btn-orange-shop" %>



            </div>
          <% end %>
        </div>
        <!-- If we need pagination -->
        <%# <div class="swiper-pagination"></div> %>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <%# <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div> %>
      </div>

    <% else %>
        <div class="d-flex justify-content-center">
          <%= image_tag "question_point.png", alt: "question point", width: "120px", height: "120px" %>
        </div>
        <div class="text-center">
          <p>---------------------------------------------</p>
          <h3>You don't have any item ! </h3>
          <p>LAUNCH THE WHEEL BELOW </p>
          <p>vvvvvvvvvvv </p>
        </div>
    <% end %>

  </div>
