
  <div class="popup top">
    <% if @items.present? %>

      <div class="swiper" data-controller="carousel">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

          <!-- Slides -->
          <% grouped_items = @items.group_by(&:name) %> <!-- Regrouper les items par `name` -->

          <% grouped_items.each do |name, items| %> <!-- Itérer sur chaque groupe -->
            <div class="swiper-slide">
              <div class="d-flex justify-content-center">
                <!-- Afficher l'image du premier item dans le groupe -->
                <%= cl_image_tag items.first.photo.key, width: "142px", height: "142px", class:"img-center" %>
              </div>
              <h3>Object: <%= name %></h3>
              <p><%= items.first.description %></p> <!-- Afficher la description du premier item -->

              <!-- Afficher le compteur d'items identiques -->
              <p>Quantity: <%= items.count %></p>

              <!-- Bouton "USE IT" avec Turbo Frame -->
              <div class="d-flex justify-content-center">
                <%= link_to player_choice_shops_path(item_id: items.first.id), data: { turbo_frame: :popup_shop }, action: :choice, class: 'btn-orange-test margin' do %>
                  USE IT
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <%# <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> %>

        <%# <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div> %>
      </div>

    <% else %>
        <div class="d-flex justify-content-center">
          <%= image_tag "question_point.png", alt: "question point", width: "120px", height: "120px" %>
        </div>
        <div class="text-center">
          <p>--------------------------------------</p>
          <h3>You don't have any item ! </h3>
          <p>LAUNCH THE WHEEL BELOW </p>
          <p>vvvvvvvvvvv </p>
        </div>
    <% end %>

  </div>
























<%# btn, path = l'action choice dans le controller shop, data = quelle turbo frame va afficher la popup %>

              <%# <div class="btn-blue">
              <%= link_to "USE IT", player_choice_shops_path(item_id: item.id), data:  { turbo_frame: :popup_shop } %>
              <%# </div> %>

              <%# <%= link_to player_choice_shops_path(item_id: item.id), data: {turbo_frame: :popup_shop }, action: :choice do %>
                <%# <div class="btn-blue"><h2>USE IT</h2></div>
              <%end%>

                <%# <%= link_to "USE IT", player_choice_shops_path(item_id: item.id), data:  { turbo_frame: :popup_shop }, class:"text-properties btn-orange-shop" %>




 <%# <%= link_to player_choice_shops_path(item_id: item.id), data: {turbo_frame: :popup_shop }, action: :choice do %>
                    <%# <div class="btn-orange-shop"><p>USE IT</p></div>
                  <%end%>
