<%= turbo_frame_tag "popup_shop" do %>
  <div class="blur">
    <div class="modal-pop-up">
            <%= link_to "X", "#", data: {
            controller: "modals"
            # action: "modals#close"
          }, class: "cancel-button" %>
    <h3> > WELL DONE !</h3>
    <p> > You use <%=@item.name%> on <%=@target_user.first_name%> </p>
    <p> we've just send <%=@target_user.first_name%> a message on Slack ! </p>
     <%= image_tag "alien.png", alt: "alien", width: "142px", height: "142px"%>
    </div>

  </div>
<% end %>
