
<div class="background-first">
  <div class="shop-card-top">
    <h1>SHOP</h1>
    <p>You have <%= @user.gold_count %> G</p>
  </div>

---------------------------------------------
<!--  Carousel qui ne s'actualise pas à la fermeture de la pop up-->
      <%# <%= render "shops/carousel" %>

<!--  Carousel qui s'actualise âs à la fermeture de la pop up MAIS qui disparait pdt que la pop up est là-->
<div class="shop-card-middle",>
  <%= turbo_frame_tag "popup_shop" do %>
    <%= render "shops/carousel"%>
  <% end %>
</div>



<div class="shop-card-bottom">
  <%= image_tag "wheel.png", alt: "wheel", width: "100px", height: "100px" %>
    ---------------------------------------------
  <p>&gt Items wheel! </p>

  <%# <%= link_to "LAUNCH: 400G", buy_shops_path, data: {turbo_frame: :popup_shop} %> %>


</div>

<%#
  <div class="btn-play"> %>
  <div class="btn-launch">
    <%= link_to buy_shops_path, data: {turbo_frame: :popup_shop}  do %>

        <p>LAUNCH: 400G</p>

    <% end %>
    </div>
  <%# </div> %>

<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>













<%#
<%= turbo_frame_tag :popup_wheel do %>
<!-- Le contenu initial de la pop-up peut être vide ou un message de chargement -->
<%# <% end %>

<!-- Bouton qui déclenchera le chargement de la pop-up -->
<%# btn, path = l'action buy dans le controller shop (avec le content), data = quelle turbo frame va afficher la popup %>







<%# <button data-turbo-frame="popup-choice" data-action="click->load-popup">USE IT</button> %>

<%# <button data-turbo-frame="popup-wheel" data-action="click->load-popup">LAUNCH: 400G</button>
 %>


<%# <!-- turbo-frame qui servira de conteneur pour la pop-up -->
<turbo-frame id="popup-wheel">

</turbo-frame> %>



<%# href="<%= launch_shop_path %>
<%# <button data-turbo-frame="popup-wheel" data-action="click->load-popup" >
  LAUNCH: 400G
</button> %>



<%#
<turbo-stream action="append" target="comments">
  <template>
    <%= render @comment %>
  <%# </template>
</turbo-stream> %>



<%#
  <%= cl_image_tag("THE_IMAGE_ID_FROM_LIBRARY",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%# <%= cl_image_tag("IMAGE_WITH_FACE_ID",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
<%# </ul> %>
