<%= turbo_frame_tag "popup_shop" do %>
  <div class="blur">
    <div class="modal-pop-up">
      <div class="w-100">
        <%= link_to "X", "#", data: {
          controller: "modals"
          # action: "modals#close"
        }, class: "cancel-button" %>
        <br>
        <br>
        <h3> > Use : <%=@item.name%></h3>
        <%= cl_image_tag @item.photo.key, width: "142px", height: "142px", class:"img-center mb-3" %>
        <% if @item.category != "duel" %>

          <h3> > Select a player :</h3>

          <%= form_with url: choice_shops_path do |f| %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.hidden_field :inventory_id, value: @inventory.id %>

            <select name="user_id" class="form-select background-black" aria-label="Default select example" required>
              <option selected>...</option>
              <%@users.each do |user|%>

                <% unless user[0] == current_user.id %>
                <option value="<%=user[0]%>"><%=" #{user[1].capitalize} #{user[2][0].upcase}."%></option>
                <% end %>
              <%end%>
            </select>


            <%# <h3 class= "mt-3"> > Validate ?</h3>
            <%= f.submit "Yes, sure!", class:"background-white", action: :slack %>
          <%# <% end %>

            <h3 class= "mt-3"> > Validate ?</h3>

            <div class="container">
              <div class="row">
                <div class="col-6 ps-0 ">
                  <%= f.submit "Yes", class:"background-black", action: :slack %>
                                <% end %>
                </div>
                <div class="col-6 pe-0">
                  <%= link_to "No", "#", data: {
                      controller: "modals"
                      # action: "modals#close"
                  }, class: "background-black w-100 d-flex align-items-center justify-content-center" %>
                </div>
              </div>
            </div>







        <% else %>
          <h3> > Only in duel</h3>
        <% end %>

      </div>
    </div>
  </div>
<% end %>
