<%= turbo_frame_tag "popup_shop" do %>
  <div class="blur">
    <div class="modal-pop-up">
      <div >
        <%= link_to "X", "#", data: {
          controller: "modals"
          # action: "modals#close"
        }, class: "cancel-button" %>
        <h3> > Use : <%=@item.name%></h3>
        <h3> > Select a player :</h3>


        <%= form_with url: choice_shops_path do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.hidden_field :inventory_id, value: @inventory.id %>


          <select name="user_id" class="form-select background-white" aria-label="Default select example" required>
            <option selected>...</option>
            <%@users.each do |user|%>
              <option value="<%=user[1]%>"><%=user[0]%></option>
            <%end%>
          </select>


          <h3> > Validate ?</h3>
          <%= f.submit "Yes, sure!", class:"background-white" %>
        <% end %>
      </div>


    </div>
  </div>
<% end %>
