<%= turbo_frame_tag "popup_shop" do %>
  <div class="blur" data-controller="modals" data-modals-audio-url-value="<%= audio_path("win_sound.mp3") %>">

    <div class="modal-pop-up" id="small" >
      <div data-modals-target="explosion" class="explosion <%# d-flex justify-content-center %>"><%= image_tag "explosion.png", class: "mb-", alt: "explosion", width: "200px", height: "200px" %></div>
      <div data-modals-target="wheel">
      <%= link_to "invisible", "#", class: "cancel-button invisible-link" %>
                      <br>
                      <br>
        <div class="d-flex justify-content-center">
          <%= image_tag "wheel_round.png", alt: "wheel", width: "142px", height: "142px", class:"wheel" %>
        </div>

        <br>
        <br>
        <h3 class="text-center">------------------------------</h3>
        <h3>> Wheel is turning</h3>
        <h3> <%=@content%></h3>
      </div>



      <div data-modals-target="win" style="display: none;" class="forground">
        <%= link_to "X", "#", data: {
        controller: "modals"
        # action: "modals#close"
      }, class: "cancel-button" %>
      <br>
      <br>
        <div class="d-flex justify-content-center">
          <%= cl_image_tag @item.photo.key, width: "142px", height: "142px"%>
        </div>
        <br>
        <h3 class="text-center">------------------------------</h3>
        <br>
        <h3 class=""> > YOU WIN : <%=@item.name%></h3>
        <p > <%=@item.description%></p>
      </div>
    </div>
  </div>
<%end%>
