<div class="background-profile background-fixed">

  <div class="top_card d-flex justify-content-center align-items-end">
    <p>RANKING</p>
  </div>

  <div class="top-rank">
      <% @users_ordered.each_with_index do |user, index| %>
        <% if index < 8 %>
           <% if index == 0 %>
              <% class_name = "rank-first" %>
            <% elsif index == 1 %>
              <% class_name = "rank-second" %>
            <% elsif index == 2 %>
              <% class_name = "rank-third" %>
            <% else %>
              <% class_name = " " %>
            <% end %>
          <div class="rank-frame <%= class_name %>">
            <div>
              <%= "#{(index + 1)} - #{user.first_name.capitalize} #{user.last_name[0].upcase}." %>
            </div>
            <div>
              <%= "#{user.experience} XP" %>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="d-flex justify-content-center">
        <% if !@users_ordered.first(8).include?(@current_user) %>
          <div class="rank-frame bottom-rank">
            <div>
              <%= "#{(@users_ordered.index(@current_user) + 1)} - YOU" %>
            </div>
            <div>
              <%= "#{@current_user.experience} XP" %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
