<h1>Users#show  as: HOME</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>lvl : <%= @level %></p>
<br>

<p> rank : N° <%= @rank %> </p>
<p>username: <%=  @username  %> </p>

<p>gold_count : <%= @user.gold_count %></p>
<p>experience : <%= @user.experience %> </p>
<p>first_name : <%= @user.first_name %></p>
<p>last_name <%= @user.last_name %></p>
<br>




<%= link_to 'TRAININGS', trainings_path %>
<br>
<%= link_to 'DUEL', home_path %>
<br>
<br>
<%= link_to 'HOME', home_path %>
<%= link_to 'SHOP', shop_index_path %>
<%= link_to 'RANK', users_rank_path(@user) %>
<%= link_to 'PROFIL', home_path %>
