
<div class="background-home">
  <div class="top-card-home">
    <div class="d-flex justify-content-center">
      <p>Level <%= @user.level %></p>
    </div>
    <div class="d-flex justify-content-center">
      <p>N° <%= @rank %> • <%= @user.gold_count %> G</p>
    </div>
    <div class="username-frame">
      <p><%=  @username  %> </p>
    </div>
  </div>



  <div class="round-white">
    <p>1</p>
  </div>

  <div class="btn-play">
    <%= link_to trainings_path, class:"font-white-center" do %>
      <div class="btn-training">
        <p>TRAININGS</p>
      </div>
    <% end %>
    <%= link_to home_path, class:"font-white-center" do %>
      <div class="btn-duel">
        <p>DUEL</p>
      </div>
    <% end %>
  </div>
</div>


  <%# <p>first_name : <%= @user.first_name %>
  <%# <p>last_name <%= @user.last_name %>
  <%# <p>experience : <%= @user.experience %>

