<div class="background-profile background-fixed">

  <div class="top_card d-flex justify-content-center align-items-end">
    <p>Log in</p>
  </div>

  <div class="profil">
    <div class="black-frame ">
      <%# <div class="container col-5 mb-5 bg-info bg-gradient rounded-5 py-5 px-3 "> %> %>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs green-link ">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn-backtohome " %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      <%# </div> %>
    </div>
  </div>




</div>
